venv
__pycache__
.DS_Store
.ssh
.build
.env
ARCHIVE
build
dist
docker/*
!docker/Dockerfile
!docker/build.sh
docker-builder
github
licenses
nodes
README
scripts
ssh
supervisor
test
*.tgz
*.tar.gz
*.log
*.pyc
*.so
*.old
.click-history
adminlogin
mongo/data
mongo/keyfile
