venv
__pycache__
.DS_Store
.ssh
.build
.env
ARCHIVE
build
dist
docker
docker-builder
github
licenses
nodes
README
scripts
ssh
supervisor
test
*.tgz
*.log
*.pyc
*.so
*.old
.click-history
adminlogin
mongo/data
mongo/keyfile
